

/********************************************************************************
GENERAL
*********************************************************************************/

#wrapper
  {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
  }

a
  {
     text-decoration: none;
  }

img
{
  max-width: 100%;
} /*fills the width of their parent container. If the parent shrinks: so does the pic. yay mobile site optimization. because everyone is on mobile now and if your site is not mobile optimized you're basically loosing customers by the second. */

h3 {
  margin: 0 0 1em 0; /*insurance against the h3 heading to be seperated from the paragraphs*/
}

/********************************************************************************
HEADING
*********************************************************************************/

header {
  float: left;
  margin: 0 0 30px 0; /*top, right, bottom, left AKA: Clockwise*/
  padding: 5px 0 0 0; /*top, right, bottom, lef AKA: Clockwiset*/
  width: 100%; /*This element should stretch across the entire page.*/
}

#logo
  {
    text-align: center;
    margin: 0;
  }

h1
{
  font-family: 'Oswald', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2
{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/********************************************************************************
NAVIGATION
*********************************************************************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}


nav ul {
  list-style: none;
  margin: 0 10px; /* that zero on the top and bottom and 10 on the left and right. */
  padding: 0;
}

nav li {
  display: inline-block;
 }


nav a {
  font-weight: 800; /*Can you say BOLD?*/
  padding: 15px 10px; /* yay, space. It was getting crowded and weird*/
}



/********************************************************************************
FOOTER
*********************************************************************************/
footer
{
  font-size: 0.75em;
  text-align: right; /*originally center for class*/
  clear: both; /*the clear command does not allow floating elements to the specification that you set. like right, left, both, none, initial, and inherit.*/
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/********************************************************************************
PAGE: PORTFOLIO
*********************************************************************************/

#gallery
{
  margin: 0;
  padding 0;
  list-style: none; /*This takes away the bullet points. those fuckers are everywhere.*/
}

#gallery li
{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;

}


/********************************************************************************
PAGE: ABOUT
*********************************************************************************/


.profile-photo {
  display: block; /*By default images are displayed inline-block*/
  max-width: 150px;
  margin: 0 auto 30px; /*We are using this to center it on the page.*/
  border-radius: 100%; /*Allows us to add rounded corners.*/
}


/********************************************************************************
PAGE: CONTACT
*********************************************************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
/*  margin: 0 0 10px;*/
}

.contact-info li.phone a /*The list item has the class called "phone" which is why there is no space between the "li" and ".phone" if there was a space the code would expect there to be an element nested after the list item.*/
{
  background-image: url('../img/phone.png');/*The two dots allow us to step up two directories*/
}

.contact-info li.mail a
{
  background-image: url('../img/mail.png');/*The two dots allow us to step up two directories*/
}

.contact-info li.twitter a
{
  background-image: url('../img/twitter.png');/*The two dots allow us to step up two directories*/
}




/********************************************************************************
COLORS
*********************************************************************************/

/*Site Body*/
body
  {
    background-color: #fff;
    color: #999;
  }

/*Purple Header*/
header
  {
    background: #d8bfd8;
    border-color: #3f273f;
  }

/*Nav background on mobile*/
nav
  {
    color: #599a68;
  }

/*logo text*/
h1, h2
  {
    color: #fff;
  }

/*links*/
a
  {
    color: #6ab47b;
}

/* nav link */
nav a, nav a:visited
  {
    color: #fff;
  }

/* selected nav link */
nav a.selected, nav a:hover
  {
    color: #32673f;
  }




















